*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


.hero_section{
      width: 100%;
      height: 800px;
      background-image: url("./Assets/Hero-bg.png");
      background-size: contain;
      background-position: center;
}
